body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.valentines-day-card {
    position: relative;
    width: 400px;
    height:400px;
    transform-style: preserve-3d;
        transform: perspective(2500px);
    transition: .3s;
}

.card-front {
    position: relative;
    background-color: #fff0f3;
    width: 400px;
    height:400px;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 30px 0 50px rgba(0,0,0,0.3);
    transition: .3s;
}

.card-front:before {
    content:"";
    position: absolute;
    width: 380px;
    height: 380px;
    background-color: #d04e4e;
    top: 10px;
    left: 10px;
}

.card-inside {
    position: absolute;
    background-color: #fff0f3;
    width: 400px;
    height:400px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.22), 100px 20px 100px rgba(0,0,0,0.1);
}

.open {
    position: absolute;
    width: 400px;
    height:400px;
    left:0;
    top:0;
    background-color: transparent;
    z-index:6;
    cursor: pointer;
}

#open:checked ~ .card-front {
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
}

#open:checked ~ .card-front:before {
    z-index:5;
    background-color: #fff0f3;
    width:400px;
    height:400px;
    top:0;
    left:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.1), 30px 0 50px rgba(0,0,0,0.1);
}
.note {
    position: relative;
    width: 300px;
    height: 250px;
    background-color: #fff0f3;
    font-family: 'Great Vibes', cursive; 
    font-size: 40px; 
    font-weight: bold;
    top:75px;
    left:50px;
    color: #333;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    filter: drop-shadow(0 0 20px rgba(0,0,0,0.3));
}

.note:before, .note:after {
    position: absolute;
    content:"";
    background-color: #ba1c1c;
    width: 40px;
    height:40px;
}

.note:before {
    transform: rotate(-45deg);
    top:-20px;
    left:125px;
}

.note:after {
    border-radius:50%;
    top:-35px;
    left:110px;
    box-shadow:30px 0 #ba1c1c;
}
.text-one {
    position: absolute;
    color: #333;
    font-size: 30px;
    top: 20px;
    width: 100%; 
    text-align: center;
    left: 50%;
    transform: translateX(-50%); 
}

.text-one:before, .text-one:after {
    position: absolute;
    left:5px;
    text-align: center;
    width:300px;
}

.text-one:before {
    content:"Valentine's";
    top:30px;
    color: #d04e4e;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    left: 48%;
    transform: translateX(-50%); 
}

.text-one:after {
    content:"day!";
    top: 70px;
    font-size: 30px;
    text-align: center;
    left: 49%;
    transform: translateX(-50%); 
}

input#open {
    display: none;
}
.picture {
    width: 80px;
    height: 100px;
    overflow: hidden;
    display: block; 
    margin: 125px 300px; 
}

.picture img {
    width: 100%; 
    height: 100%; 
}

.message {
    font-size: 22px;
    text-align: center;
    white-space: pre-line; 
    margin: 20px auto;
    max-width: 80%; 
    font-family: 'Great Vibes', cursive; 
    position: relative;
    top: 130px;

}


